<div class="overview-wrapper d-flex">
  <div class="icon-wrapper text-center">
    <img class="icon" src="assets/images/teams/icon_susananderson@2x.png" />
    <div class="position-info">
      <strong class="name">Kent Washington</strong>
      <span class="position">Chief Counsel</span>
    </div>
    <div class="profile-info">
      <div class="motives d-flex justify-content-center">
        <span class="title d-flex">
          <span l10nTranslate>inventory_sdi_member_motives</span>
          <span>:</span>
        </span>
        <span class="content d-flex">
          <span>RED</span>
          <span>-</span>
          <span>BLUE</span>
        </span>
      </div>
      <div class="conflict d-flex justify-content-center">
          <span class="title d-flex">
            <span l10nTranslate>inventory_sdi_member_conflict</span>
            <span>:</span>
          </span>
        <span class="content d-flex">
          <span>R</span>
          <span>-</span>
          <span>B</span>
          <span>-</span>
          <span>G</span>
        </span>
      </div>
    </div>
    <div class="sdi-date-info">
      <span>
        <span class="title" l10nTranslate>inventory_section_sdi_20_date</span>
        <span class="content">18 April 2017</span>
      </span>
    </div>
  </div>
  <div class="state-wrapper d-flex justify-content-around text-center">
    <div class="members">
      <div class="header-info">
        <strong l10nTranslate>inventory_sdi_member_title_members</strong>
      </div>
      <div class="current-info">
        <span class="content">81</span>
        <span class="title" l10nTranslate>inventory_sdi_member_current</span>
      </div>
      <div class="maximum-info">
        <span class="content">1,000</span>
        <span class="title" l10nTranslate>inventory_sdi_member_maximum</span>
      </div>
    </div>
    <div class="guests">
      <div class="header-info">
        <strong l10nTranslate>inventory_sdi_member_title_guests</strong>
      </div>
      <div class="current-info">
        <span class="content">12</span>
        <span class="title" l10nTranslate>inventory_sdi_member_current</span>
      </div>
      <div class="maximum-info">
        <span class="content">N/A</span>
        <span class="title" l10nTranslate>inventory_sdi_member_maximum</span>
      </div>
    </div>
    <div class="sdi20">
      <div class="header-info">
        <strong l10nTranslate>inventory_sdi_member_title_sdi20</strong>
      </div>
      <div class="open-invitations-info">
        <span class="content">2</span>
        <span class="title" l10nTranslate>inventory_sdi_member_open_invitations</span>
      </div>
      <div class="completed-info">
        <span class="content">10</span>
        <span class="title" l10nTranslate>inventory_sdi_member_completed</span>
      </div>
    </div>
  </div>
  <div class="credits-wrapper text-center">
    <div class="header-info">
      <strong l10nTranslate>inventory_sdi_member_title_credits</strong>
    </div>
    <div class="my-credits-info">
      <span class="content">30</span>
      <span class="title" l10nTranslate>inventory_sdi_member_my_credits</span>
    </div>
  </div>
</div>
