@import '../../../../variables';
@import '../../../../mixins';

.flex-1 {
  flex: 1;
}
.tab-container {
  .tab-info {
    width: 100%;
    height: 50px;
    background-color: $medium-gray;
    font-size: 20px;
    line-height: 1;
    color: $white;
    .tab-active {
      background-color: $medium-blue;
    }
  
    .invite {
      padding-left: 30px;
    }
  
    .remind {
      padding-left: 28px;
    }
  }
  
  .sub-tab-info {
    width: 100%;
    height: 69px;
    background-color: $white;
    padding-left: 27px;
    font-size: 16px;
    color: $medium-gray;

    .subActive {
      color: $medium-blue;
      border-bottom: solid 3px $medium-blue;   
    }

    strong {
      display: inline-block;
      padding-top: 43px;
      padding-bottom: 6px;
      &.needing-invite {
        margin-right: 29px;
      }
    }
  }

  .needing-filter-header {
    width: 100%;
    height: 85px;
    border-top: solid 1px $medium-gray;
    padding-top: 25px;
    padding-left: 30px;
    .sdi-invites {
      display: block;
      font-size: 18px;
      color: $very-dark-gray;
      margin-bottom: 6px;
    }

    .not-invited {
      display: block;
      font-family: "proxima_novamedium", Arial, sans-serif;
      color: $body-text-color;
    }
  }

  .search-container {
    position: relative;
  
    input {
      height: 34px;
      font-family: "proxima_novamedium", Arial, sans-serif;
      padding-right: 30px;
      padding-left: 8px;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        line-height: 1;
        color: $medium-gray;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        line-height: 1;
        color: $medium-gray;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        line-height: 1;
        color: $medium-gray;
      }
      &:-moz-placeholder { /* Firefox 18- */
        line-height: 1;
        color: $medium-gray;
      }
    }
  
    .icon {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 18px;
    }
  }
  
  .filters {
    height: 60px;
    background-color: $very-dark-gray;
    padding: 0 13px 0 15px;
    margin-top: 1px;
  
    .action {
      color: $white;
      font-size: 14px;
      font-weight: 600;
  
      img {
        width: 22px;
        margin: 0 8px 0 10px;
        cursor: pointer;
      }
    }
  
    .reminder-button {
      margin-left: 44px;
  
      button {
        @include app-button(140px, 32px, 12px, 3px, $medium-blue);
        letter-spacing: 0.4px;
      }
    }
  
    .search-input {
      margin-left: 55px;
  
      .search-container {
        input {
          width: 368px;
        }
      }
    }
  }
  
  .member-container {
    .filter-sidebar {
      max-width: 0;
      overflow: hidden;
      transition: max-width ease .5s;
  
      &.opened {
        max-width: 175px;
      }
    }
    
    .member-table {
      &.opened {
        app-member-table {
          .member-table {
            .table-header {
              padding-left: 7px;

              .check {
                width: 104px;
                > span {
                  margin-left: 5px;
                }
              }
            }
            
            .table-body {
              .table-row {
                > div {
                  padding: 7px;
                  &.check {
                    padding-right: 0;
                    .avatar {
                      margin-left: 23px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
